.background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;

  .header {
    display: flex;
    top: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .comment {
      font-size: 18px;
      font-weight: normal;
      margin: 5px 0;
      position: relative;
      margin-bottom: 250px;
    }

    .resume-box {
      display: grid;
    }

    .squareBox {
      margin-left: 100px;
      width: 45%;
      height: 200px;
      border: 1 px solid black;
      margin-top: 20px;
      position: relative;

      .resume {
        text-align: center;
        margin-top: 20px;
        padding: 20px;
      }
    }

    .squareBox {
      position: relative;
      bottom: 50;
      right: 50;
      width: 200px;
      height: 200px;
      border: 1px solid black;
      transform: translate(-50%, -50%);
    }
    .list {
      padding: 10;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }
}
