.container {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  width: 90%;
  height: 700px; // avoid random vertical space between rows of cards
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  align-items: flex-start; // Added this line

  .comment {
    font-size: 18x;
    font-weight: normal;
    position: relative;
    top: -350px;
    left: 100px;
  }

  .resume-box {
    display: grid;
  }

  .squareBox {
    // margin-left: 100px;
    // width: 45%;
    // height: 200px;
    // border: 1 px solid black;
    // margin-top: 20px;
    // position: relative;
    margin: 17px;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px #dce0dd, -5px -5px 30px 7px #dce0dd;
    cursor: pointer;
    transition: 0.4s;

    .resume {
      text-align: center;
      margin-top: 20px;
      padding: 20px;
    }
  }

  .squareBox {
    position: relative;
    width: 700px;
    height: 700x;
    border: 1px solid black;
  }
  .list {
    padding: 10;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .comment2 {
    font-size: 18x;
    font-weight: normal;
    position: relative;
    bottom: 350px;
    left: 100px;
  }
}
