.background {
	background: rgb(255, 255, 255);
	position: absolute;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.pageContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		.contentContainer {
			height: 90%;
			background-color: #ffffff;
			flex-grow: 1;
			margin: 7%;
		}
	}
}
